/* ===== TABLAS ===== */

.table-container {
  background: white;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.06);
  margin-top: 10px;

  max-height: 400px;   /* altura máxima */
  overflow-y: auto;    /* scroll vertical */
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  
}

thead {
  background: #f2efe8; /*Color fondo titulo de la tabla ID RFC ETC*/
}

th {
  text-align: left;
  padding: 16px;
  font-weight: 600;
  color: #555;
  font-size: 14px;
  text-transform: uppercase;
}

td {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0; /* Lineas columnas tabla */
}

tbody tr:nth-child(even) {
  background: #faf9f7; /*Columnas*/
}

tbody tr:hover {
  background: #edf4ec !important; /*Hober efecto de las columnas de la tabla*/
}



th:last-child,
td:last-child {
  text-align: center;
  min-width: 240px;   /* más espacio */
  
}

/* BOTONES */
.actions {
  display: flex;
  gap: 6px;
  justify-content: center;
  flex-wrap: nowrap;   /* NO permitir salto */
}

.btn-delete,
.btn-reactivar {
  width: 100px;
  text-align: center;
}


.actions button {
  white-space: nowrap;
  flex-shrink: 0;   
}


td:nth-child(3),  /* Nombre */
td:nth-child(4) { /* Apellido */

  max-width: 140px;       
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.estado {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

/* 🟡 PENDIENTE (igual estilo suave) */
.estado.pendiente {
  background: #fff8e1;
  color: #f57c00;
}

/* 🟢 COMPLETA (igual a status-activo) */
.estado.completa {
  background: #e6f4ea;
  color: #2e7d32;
}

/* 🔴 CANCELADA (igual a status-inactivo) */
.estado.cancelada {
  background: #fdecea;
  color: #c62828;
}

.estado.completa,
.estado.procesado {
  background: #e6f4ea;
  color: #2e7d32;
}


/* ===== SCROLLBAR PERSONALIZADO ===== */

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6f4e37, #a67c52); /* tonos café */
  border-radius: 10px;
  transition: all 0.3s ease;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #8b5e3c, #c49a6c);
}

/* Firefox */
.table-container {
  scrollbar-width: thin;
  scrollbar-color: #a67c52 rgba(0, 0, 0, 0.05);
}